/*tablet*/
/*@media screen and (max-width: 1024px) {
	

}*/

/*phone - best testing 320px*/
@media screen and (max-width: 600px) {
	
	#first {
		height: 350px;
	}

	header {
		font-size: 10px;
		padding-top: 10px;
	}

	.mail,
	.phone {
		float: none;
	}

	.logo-small {
		position: relative;
		left: 0;
		margin: 0px;
		padding: 10px 0px; 
	}

	h1 {
		font-size: 21px;
		margin-top: 80px;
	}

	.main-text span {
		font-size: 15px;
	}

	.about-text p {
		width: 220px;
	}

	.logo img {
		width: 250px;
	}

	.logo-footer,
	.phone-footer {
		float: none;
		margin-top: 10px;
	}

	.credits {
		position: relative;
		left: 0;
		margin-left: 0;
		margin-top: 10px;
	}

}














